body {
  background: #000;
}
.timer{
    text-align:center;
    width:600px;
    margin:30px auto 0;
    padding:10px 0;
    font-size:2em;
    color:#f00;
    text-shadow:1px 1px 1px #ccc;
    font-weight:700;
    line-height:50px;
}
